::-webkit-scrollbar{
    display: none;
    width: 0.3rem;
    height: 0.3rem;
    transition: all;
}

::-webkit-scrollbar-track{
    background-color: #161212;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-thumb{
    background-color: #ce8037;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #aa7747;
    border-radius: 0.5rem;
    transition: all;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:active{
    background-color: #aa7747;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-corner:hover{
    background-color: #ce7b2d;
    border-radius: 0.5rem;
    transition: all;
    cursor: pointer;
}

::-webkit-scrollbar-corner:active{
    background-color: #cf823a;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-button{
    background-color: #aa7747;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-button:hover{
    background-color: #aa7747;
    border-radius: 0.5rem;
    transition: all;
}

::-webkit-scrollbar-button:active{
    background-color: #aa7747;
    border-radius: 0.5rem;
    transition: all;
}

